__pycache__/
*.py[cod]
*$py.class
.venv/
.env
venv/
ENV/

**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates

ImageLangLexer.py
ImageLangParser.py
ImageLangVisitor.py
ImageLangListener.py
*.tokens
*.interp

program.exe
program.il
ImageLangRuntime.dll
out.png
*.txt
input.jpg

.qodo/
.vscode/
.idea/
.antlr/